# Peptide Data Extract

Script used to extract Peptide data into Binary and regular bag of words features

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
#Import file
file = 'C:\\Users\\NN133\\Documents\\GitHub\\AntiCancer_Peptides\\BowData.csv'
data = pd.read_csv(file, header=None)
data.sample(7)

                                  0
78              DSMVVLQQRAYEILMTIME
174  DIRTSLANDMAIYGDIIEATREHTELAENL
203                    FALLKALLKKAL
164                   FAKLLAKLAKLKL
20                    FAKKLAKKLAKLL
34                     EKETFREKFMQH
13                    DAHAWMIGQLKGL

In [33]:
cols=['Sequence']

In [34]:
data.columns = cols
data.head()

                   Sequence
0          GLFKVIKKVASVIGGL
1             FAKLLAKFLKKAL
2   KIAKVALAKLGIGAVLKVLTTGL
3  FLKLLKKLAAKFLPTIICKISYKC
4              ESFSDWWKLLAE

In [35]:
data.shape

(388, 1)

In [36]:
#Import file
file = 'C:\\Users\\NN133\\Documents\\GitHub\\AntiCancer_Peptides\\BowLabel.csv'
label = pd.read_csv(file, header=None)
label.sample(7)

     0
25   1
260 -1
46   1
107  1
0   -1
309  1
57   1

In [37]:
cols1 = ['label']
label.columns = cols1
label.head()

   label
0     -1
1     -1
2     -1
3     -1
4     -1

In [38]:
label.replace({-1:0}, inplace=True)

In [39]:
label.sample(6)

     label
68       1
138      0
263      0
239      0
83       0
250      1

In [40]:
data.columns

Index(['Sequence'], dtype='object')

In [41]:
#Extract list of sequence and target
sequence = []
target =[]
for i in range(0, len(data)):
    sequence.append(data.Sequence[i])
    target.append(label.label[i])

In [42]:
#Extract an alphabet of unique symbols
alphabet = {}

for seq in sequence:
    for sym in seq:
        if sym not in alphabet:
            alphabet[str(sym)]  = 1 
        else:
            alphabet[str(sym)] += 1

In [43]:
#Extract the unique keys that make up the dictionary
vocab = list(alphabet.keys())

In [44]:
#Extract bag of words and binary BOW features
Bin_peptide = np.zeros((len(sequence), len(vocab)))
Bow_peptide = np.zeros((len(sequence), len(vocab)))

for k, symbols in enumerate(sequence):
    for i in range(0, len(symbols)):
        
        Bin_peptide[k, vocab.index(symbols[i])] = 1
        Bow_peptide[k, vocab.index(symbols[i])] += 1

In [45]:
Bin_peptide

array([[1., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.]])

In [46]:
Bow_peptide

array([[3., 2., 1., ..., 0., 0., 0.],
       [0., 4., 2., ..., 0., 0., 0.],
       [3., 5., 0., ..., 0., 0., 0.],
       ...,
       [0., 3., 1., ..., 0., 0., 0.],
       [0., 3., 1., ..., 0., 0., 0.],
       [1., 3., 0., ..., 0., 0., 0.]])

In [49]:
pd.DataFrame(Bin_peptide).to_csv('Bin_peptide.csv',header=False, index = False)
pd.DataFrame(Bow_peptide).to_csv('Bow_peptide.csv',header=False, index = False)
pd.DataFrame(target).to_csv('ytr.csv',header=False, index = False)

print('--> BoW and Binary features files exported as csv files')

--> BoW and Binary features files exported as csv files

In [50]:
Bin_peptide.shape

(388, 22)

In [52]:
Bow_peptide.shape

(388, 22)

In [56]:
len(target)

388